<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953664765612-enrenv47kshhn9vffvsm21qfubkm864i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953664765612-enrenv47kshhn9vffvsm21qfubkm864i</string>
	<key>API_KEY</key>
	<string>AIzaSyAHIQbDW7M2jDWsk4ttRqqqtLNM8OBC7mU</string>
	<key>GCM_SENDER_ID</key>
	<string>953664765612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ABTestingApp</string>
	<key>PROJECT_ID</key>
	<string>a-b-testing-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>a-b-testing-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953664765612:ios:6025eeabcd8a661185e909</string>
	<key>DATABASE_URL</key>
	<string>https://a-b-testing-demo-app.firebaseio.com</string>
</dict>
</plist>